<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="masthead bg-secondary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Welcome, {{.Username}}</h1>
            <p>Your private dashboard is here!</p>
        </div>
    </header>
</body>
</html>
